@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Tech Challenge</h1>
 
    <p><a href="https://localhost:7127/Informacoes/Create">Clique aqui para inserir uma imagem</a></p>
</div>
